*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}    
body{ 
    font-family: "Open Sans", sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0 ;
 }
img {
 height: 50vh;  
 background-size: cover; 
 background-attachment: fixed;
 background-position: center; 
}
.head  {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   